<!DOCTYPE html>
<html>
<head>
  <title>Check Out</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
  <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
  <script>
  function getParameterByName(name, url) {
    if (!url) {
      url = window.location.href;
    }
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }
  function buy() {
    //console.log($('#vprice').text())
    $.ajax({
      method: "POST",
      url: "checkout/buyout",
      data: { itemid: getParameterByName('itemid', window.location.href),
              price: $('#vprice').text()}
    }).done(function(response) {
      window.location.replace('/myaccount');
    });
  }
  function bid() {
    var minprice = <%=vehicle.minimumprice ? vehicle.minimumprice : 0 %>;
    var curBid = <%=vehicle.currentbid%>;
    if ($('#mybid').val() > minprice && $('#mybid').val() > curBid) {
      $.ajax({
        method: "POST",
        url: "checkout/bid",
        data: { itemid: getParameterByName('itemid', window.location.href),
                bidprice: $('#mybid').val()}
      }).done(function(response) {
        window.location.reload();
      });
    } else {
        window.alert("You must enter a price higher than the currentbid and minimum bid")
    }
  }
  </script>
</head>
<body>
 <% include header.ejs%>
  <div class="container-fluid">
    <div class="content-wrapper">
    <div class="item-container">
      <div class="container">
        <div class="col-md-12">
          <div class="col-md-3">
            <center>
              <img id="item-display" src="./images/default-car.jpg" alt=""></img>
            </center>
          </div>
        </div>

        <div class="col-md-7">
          <div class="product-title"><%=vehicle.brand%> <%=vehicle.model%> <%=vehicle.year%> </div>
          <div class="product-desc">Sold By <%=sup.userName%></div>
          <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
          <hr>
          <div class="product-price" id="vprice">$<%=vehicle.price%></div>
          <div class="product-stock">In Stock</div>
          <% if (vehicle.biddable == 1) { %>
              <h5 class="bid-price">Minimum Bid Price: $<%= vehicle.minimumprice%></h5>
              <h5 class="bid-price">Current Bid: $<%= vehicle.currentbid%></h5>
              <h5 class="bid-price">Bid Ending Time: <%= vehicle.bidendtime.toLocaleString()%></h5>
              <br>
              <h5 >Bidding history</h5>
              <% for (var b = 0; b < bids.length; b ++) {  %>
                <div class="row">
                  <div class="col-sm-4">
                    <div class=""><a><%= bids[b].userName%></a></div>
                    <div class=""><%= bids[b].bidtime.toLocaleString()%></div>
                  </div>
                  <div class="col-sm-5">
                    <div class="bid-price">$<%= bids[b].bidprice%></div>
                  </div>
                </div>
              <%}%>
          <%}%>
          <hr>
          <% if (isSupplier == 0) { %>
            <div class="btn-group">
              <button type="button" class="btn btn-success" onclick="buy()">
                Buy Out
              </button>
            </div>
            <br><br><br>
            <% if (vehicle.biddable == 1) { %>
              <div class="input-group btn-group">
                <span class="input-group-btn">
                  <button class="btn btn-danger" type="button" onclick="bid()">Bid with price</button>
                </span>
                <input type="text" class="form-control" placeholder="enter your bid price here..." id="mybid">
              </div>
            <%}%>

          <%} else {%>
            <h3>You aren't allowed buy vehicles now</h3>
          <%}%>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="col-md-12 product-info">
          <ul id="myTab" class="nav nav-tabs nav_tabs">
            <li class="active"><a href="#service-one" data-toggle="tab">Vehicle Info</a></li>
            <li><a href="#service-two" data-toggle="tab">Seller Reviews</a></li>
          </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">
              <section class="container product-info">
                <div class="row">
              		    <div class="span5">
                          <table class="table table-striped table-condensed">
                                <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Color</th>
                                    <th>Vehicle Type</th>
                                    <th>Condition</th>
                                    <th>Mileage</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <td><%= vehicle.year%></td>
                                  <td><%= vehicle.color%></td>
                                  <td><%= vehicle.vehicletype%></td>
                                  <td><%= vehicle.vehiclecondition%></td>
                                  <td><%= vehicle.mileage%></td>
                              </tr>
                            </tbody>
                          </table>
                      </div>
              	</div>
              </section>
            </div>
            <div class="tab-pane fade" id="service-two">
              <section class="container">
                <% for (var i = 0; i < reviews.length; i ++) {  %>
                  <br>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="review-block-name"><a><%= reviews[i].Rater%></a></div>
                    <div class="review-block-date"><%= reviews[i].ratingtime.toLocaleString()%></div>
                  </div>
                  <div class="col-sm-9">
                    <div class="review-block-rate">
                      <% for (var j = 0; j < reviews[i].rating; j ++) {  %>
                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </button>
                      <%}%>
                    </div>
                    <div class="review-block-description"><%= reviews[i].comment%></div>
                  </div>
                </div>
                <%}%>
              </section>
            </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>

</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>
