<!DOCTYPE html>
<html>
<head>
  <title>Boba Vehicles</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
</head>

<body>
 <% include header.ejs%>

	<div class="row searchbar">
        <div class="col-md-4">
              <form class="input-group col-md-12" role="form" action="/search" method="POST">
                  <input name="searchkey" type="text" class="form-control input-md" placeholder="Search ..." />
                  <span class="input-group-btn">
                      <button class="btn btn-info btn-md" type="submit">
                          <i class="glyphicon glyphicon-search"></i>
                      </button>
                  </span>
              </form>
        </div>
        <div class="col-md-4">
          <a class="btn btn-success" href="/getCategory?type=Motor%20Vehicle">Vehicle</a>
          <a class="btn btn-success" href="/getCategory?type=Bicycle">Bicycle</a>
        </div>
	</div>

 <div class="row vehicle-list">
  <% for (var i = 0; i < items.length; i ++) {  %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail itemlisting">
      <% if (items[i].vehicletype == 'Motor Vehicle') { %>
        <img src="./images/default-car.jpg" alt="./images/default-car.jpg" >
      <%  } else {  %>
        <img src="./images/default-bike.jpg" alt="./images/default-bike.jpg" >
      <% } %>
        <% if (items[i].isonsale == 1) { %>
          <h2><span>On Sale!</span></h2>
        <% } %>
      <div class="caption">
        <h4><%= items[i].brand%> <%= items[i].model%> $<%= items[i].price%> </h4>
        <% if (items[i].biddable == 1) {
            if (items[i].minimumprice > items[i].currentbid) { %>
              <h2 class="biddinginfo"><span>Minimum Bid Price: $<%= items[i].minimumprice%></span></h2>
        <%  } else {  %>
              <h2 class="biddinginfo"><span>Current Bid: $<%= items[i].currentbid%></span></h2>
        <% }
      } else { %>
      <%}%>
        <p><a href= "./checkout?itemid=<%= items[i].itemid%>" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
  <%}%>
</div>

<ul class="pagination">
  <% for (var i = 0; i < totalPages; i ++) {  %>
    <% if (currentPage == i) {  %>
      <li class="active"><a href="/?page=<%=i%>"><%=i%></a></li>
    <% } else {%>
        <li ><a href="/?page=<%=i%>"><%=i%></a></li>
    <% } %>
  <% } %>
</ul>

</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>
