<!DOCTYPE html>
<html>

<head>
    <title>My Account</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script>
        function logout() {
            $.ajax({
                method: "POST",
                url: "myaccount/logout"
            }).done(function(response) {
                window.location.replace('/login');
            });
        }
    </script>
</head>

<body>
    <% include header.ejs%>
        <div class="container" style="padding-top: 60px;">
            <h1 class="page-header">My Profile</h1>
            <div class="row">
                <!-- left column -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="text-center">
                        <img src="http://graphics.wsj.com/six-degrees-of-lebron-james/img/LeBron_head.jpg" class="avatar img-circle img-thumbnail" alt="avatar" width="250">
                    </div>
                </div>
                <!-- edit form column -->
                <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                    <form class="form-horizontal">
                        <div>
                            <label class="col-lg-3 control-label">Name:</label>
                            <div class="col-lg-8">
                                <label class="form-control"><%=user.userName%></label>
                            </div>

                            <label class="col-lg-3 control-label">User ID:</label>
                            <div class="col-lg-8">
                                <label class="form-control"><%=user.userid%></label>
                            </div>

                            <label class="col-lg-3 control-label">Address:</label>
                            <div class="col-lg-8">
                                <label class="form-control"><%=user.address%></label>
                            </div>

                            <label class="col-lg-3 control-label">Bank Account:</label>
                            <div class="col-lg-8">
                                <label class="form-control"><%=user.bankacct%></label>
                            </div>
                        </div>
                        <div class="btn-group col-lg-3">
                            <button type="button" class="btn btn-danger" onclick="logout()">
                            Log Out
                          </button>
                        </div>
                    </form>
                </div>
            </div>

            <% if (isSupplier == 1) { %>
                <h2>Sold Vehicles</h2>
                <div class="container">
                    <div class="row">
                        <div class="span5">
                            <table class="table table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th>Vehicle ID</th>
                                        <th>Brand</th>
                                        <th>Model</th>
                                        <th>Listed Price</th>
                                        <th>Sold Price</th>
                                        <th>Delivery Status</th>
                                        <tbody>
                                            <% for (var i = 0; soldItems != null && i < soldItems.length; i ++) { %>
                                                <tr>
                                                    <td>
                                                        <%= soldItems[i].itemid%>
                                                    </td>
                                                    <td>
                                                        <%= soldItems[i].brand%>
                                                    </td>
                                                    <td>
                                                        <%= soldItems[i].model%>
                                                    </td>
                                                    <td>
                                                        <%= soldItems[i].price%>
                                                    </td>
                                                    <td>
                                                        <%= soldItems[i].soldAt%>
                                                    </td>
                                                    <%if (soldItems[i].deliverytime == null) {%>
                                                        <td><span class="label label-warning">Not Delivered</span>
                                                            <%} else {%>
                                                                <td><span class="label label-success">Delivered</span>
                                                                    <%}%>
                                                                </td>
                                                </tr>
                                                <%}%>
                                        </tbody>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <h2>Active Listings</h2>
                <div class="container">
                    <div class="row">
                        <div class="span5">
                            <table class="table table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th>Vehicle ID</th>
                                        <th>Brand</th>
                                        <th>Model</th>
                                        <th>Listed Price</th>
                                        <th>Biddable</th>
                                        <th>Min Bidding Price</th>
                                        <th>Current Bid</th>
                                        <th>Bid End Date</th>
                                        <tbody>
                                            <% for (var i = 0; activeItems != null && i < activeItems.length; i ++) { %>
                                                <tr>
                                                    <td>
                                                        <%= activeItems[i].itemid%>
                                                    </td>
                                                    <td>
                                                        <%= activeItems[i].brand%>
                                                    </td>
                                                    <td>
                                                        <%= activeItems[i].model%>
                                                    </td>
                                                    <td>
                                                        <%= activeItems[i].price%>
                                                    </td>
                                                    <%if (activeItems[i].biddable == 0) {%>
                                                        <td><span class="label label-warning">Not Biddable</span></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <%} else {%>
                                                            <td><span class="label label-success">Biddable</span></td>
                                                            <td>
                                                                <%= activeItems[i].minimumprice%>
                                                            </td>
                                                            <td>
                                                                <%= activeItems[i].currentbid%>
                                                            </td>
                                                            <td>
                                                                <%= activeItems[i].bidendtime%>
                                                            </td>
                                                            <%}%>
                                                </tr>
                                                <%}%>
                                        </tbody>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <%} else {%>
                    <h2>Order History</h2>
                    <div class="container">
                        <div class="row">
                            <div class="span5">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Item ID</th>
                                            <th>Brand</th>
                                            <th>Model</th>
                                            <th>Seller</th>
                                            <th>Purchase Time</th>
                                            <th>Price</th>
                                            <th>Delivery Status</th>
                                            <th>Transaction Type</th>
                                            <th>Leave Rating</th>
                                            <tbody>
                                                <% for (var i = 0; orderHisotry != null && i < orderHisotry.length; i ++) { %>
                                                    <tr>
                                                        <td>
                                                            <%= orderHisotry[i].item%>
                                                        </td>
                                                        <td>
                                                            <%= orderHisotry[i].brand%>
                                                        </td>
                                                        <td>
                                                            <%= orderHisotry[i].model%>
                                                        </td>
                                                        <td>
                                                            <%= orderHisotry[i].seller%>
                                                        </td>
                                                        <td>
                                                            <%= orderHisotry[i].transtime.toLocaleString()%>
                                                        </td>
                                                        <td>$
                                                            <%= orderHisotry[i].price%>
                                                        </td>
                                                        <%if (orderHisotry[i].deliverytime == null) {%>
                                                            <td><span class="label label-danger">Not Delivered</span></td>
                                                            <%} else {%>
                                                                <td><span class="label label-success">Delivered on <%= orderHisotry[i].deliverytime.toLocaleString()%></span></td>
                                                                <%}%>
                                                                    <%if (orderHisotry[i].transtype == 0) {%>
                                                                        <td><span class="label label-success">Buy</span></td>
                                                                        <%} else {%>
                                                                            <td><span class="label label-warning">Bid</span></td>
                                                                            <%}%>
                                                                                <td><span class="btn btn-primary btn-sm open-review-window" data-toggle="modal" data-target="#myModalNorm" data-id=<%=orderHisotry[i].item%>>Rate</span>
                                                                                </td>
                                                    </tr>
                                                    <%}%>
                                            </tbody>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                      <span aria-hidden="true">&times;</span>
                                      <span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                      Leave a review
                                    </h4>
                                </div>

                                <!-- Modal Body -->
                                <div class="modal-body">
                                    <form role="form">
                                        <div class="form-group">
                                            <label for="commentInput">Comments</label>
                                            <textarea class="form-control animated" cols="50" id="reviewComment" name="comment" placeholder="Enter your review here..." rows="5" required></textarea>
                                        </div>
                                        <div class="rating">
                                            <span><input type="radio" name="rating" id="str5" value="5"><label class="glyphicon glyphicon-star" for="str5"></label></span>
                                            <span><input type="radio" name="rating" id="str4" value="4"><label class="glyphicon glyphicon-star" for="str4"></label></span>
                                            <span><input type="radio" name="rating" id="str3" value="3"><label class="glyphicon glyphicon-star" for="str3"></label></span>
                                            <span><input type="radio" name="rating" id="str2" value="2"><label class="glyphicon glyphicon-star" for="str2"></label></span>
                                            <span><input type="radio" name="rating" id="str1" value="1"><label class="glyphicon glyphicon-star" for="str1"></label></span>
                                        </div>
                                        <button type="submit" class="btn btn-primary" onclick="submitReview()">
                                          Submit
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>
        </div>

</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
    var userRating = 0;
    var itemid;
    $(document).ready(function() {
        //  Check Radio-box
        $(".rating input:radio").attr("checked", false);
        $('.rating input').click(function() {
            $(".rating span").removeClass('checked');
            $(this).parent().addClass('checked');
        });
        $('input:radio').change(
            function() {
                userRating = this.value;
                alert(userRating);
            });
    });

    $(document).on("click", ".open-review-window", function() {
        itemid = $(this).data('id');
    });


    function submitReview() {
        //console.log($('#vprice').text());
        console.log($('#reviewComment').val());
        console.log('rating: ' + userRating);

        if ($.trim($("#reviewComment").val()) === "" || $.trim($("#reviewComment").val()) === "") {
            alert("Please enter your comment");
        } else {
            $.ajax({
                method: "POST",
                url: "myaccount/submitReview",
                data: {
                    comment: $('#reviewComment').val(),
                    stars: userRating,
                    item: itemid
                }
            }).done(function(response) {
              window.location.replace('/myaccount');
            });
        }
    }
</script>

</html>
